<!DOCTYPE html>
<html lang="zxx">
<head>
    <jcms:site:seotitle/>

    <!-- Fevicon -->
    <jcms:site:fevicon/>

    <!-- GOOGLE WEB FONT-->
    <link rel="preconnect" href="https://fonts.googleapis.com/">
    <link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Caveat:wght@400;500&amp;family=Montserrat:wght@300;400;500;600;700&amp;display=swap" rel="stylesheet">

    <!-- BASE CSS -->
    <link href="template/web/css/bootstrap.min.css" rel="stylesheet">
    <link href="template/web/css/style.css" rel="stylesheet">
	<link href="template/web/css/vendors.min.css" rel="stylesheet">

    <!-- YOUR CUSTOM CSS -->
    <link href="template/web/css/custom.css" rel="stylesheet">
</head>

<body> 

    <div id="preloader">
        <div data-loader="circle-side"></div>
    </div><!-- /Page Preload -->

    <div class="layer"></div><!-- Opacity Mask -->

    <jcms:module:header/>

    <!-- /nav_panel --> 

    <main>

        <jcms:module:contact-us/>
        
        
    </main>
    <jcms:module:footer/>

    <jcms:module:footer-whatsapp/>
    <!-- /footer -->

    <div class="progress-wrap">
        <svg class="progress-circle svg-content" width="100%" height="100%" viewBox="-1 -1 102 102">
            <path d="M50,1 a49,49 0 0,1 0,98 a49,49 0 0,1 0,-98" />
        </svg>
    </div>
    <!-- /back to top -->

<!-- COMMON SCRIPTS -->
<script src="js/common_scripts.js"></script>
<script src="js/common_functions.js"></script>
<script src="js/datepicker_inline.js"></script>
<script src="phpmailer/validate.js"></script>

<script src="js/jquery.validate.min.js"></script>
<script src='https://www.google.com/recaptcha/api.js' async defer></script>

<script type="text/javascript">
    $(document).ready(function () {
        $('#contactform').validate({
            errorElement: 'span',
            errorClass: 'validate-has-error',
            rules: {
                name: {required: true},
                lastname: {required: true},
                phone: {required: true},
                email: {required: true, email: true},
                message: {required: true}
            },
            messages: {
                name: {required: "Please enter your First Name."},
                lastname: {required: "Please enter your LastName."},
                phone: {required: "Please enter your Phone Number."},
                email: {required: "Please enter your Email."},
                message: {required: "Please enter your Message."}
            },
            submitHandler: function (form) {
                var recaptcha = $("#g-recaptcha-response").val();
                if (recaptcha === "") {
                    event.preventDefault();
                    alert("Please check the recaptcha");
                    return false;
                }
                var Frmval = $("form#contactform").serialize();
                $("#submit").attr("disabled", "true").text('Processing...');
                $.ajax({
                    type: "POST",
                    dataType: "JSON",
                    url: "enquery_mail.php",
                    data: "action=forContact&" + Frmval,
                    success: function (data) {
                        var msg = eval(data);
                        $("button#submit").removeAttr("disabled").text('Send Message');
                        $('div#result_msg').html(msg.message).css('display', 'block').fadeOut(8000);
                        $("form#contactform")[0].reset();
                    }
                });
                return false;
            }
        })
    });
</script>

</body>
</html>